{% extends "Layout.twig" %}
{% block content %}
    {% for post in posts %}

        <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">

            <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">

                <article

                        class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

                    <header class="mb-4 lg:mb-6 not-format">

                        <address class="flex items-center mb-6 not-italic">

                            <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                <div>

                                    <a href="{{ post.userUrl }}" rel="author"
                                       class="text-xl font-bold text-gray-900 dark:text-white">Author User
                                        ID:{{ post.userId }}</a>

                                </div>
                            </div>

                        </address>

                        <a href="{{ post.postUrl }}">
                            <img src="https://placehold.co/600x400?text={{ post.title|capitalize }}"
                                 alt="post.title"></a>

                    </header>
                    
                    <p class="lead">{{ post.body|capitalize }}</p>

                    <section class="not-format">

                    </section>

                </article>

            </div>

        </main>

    {% endfor %}
{% endblock %}


